{{!-- "title" reference back to app.js->res.render->
title attribite in the object --}}

<footer>
<div>
    <h2>footer title</h2>
    <p>Created by {{name}}</p> {{!-- Dynamic name, from app.js --}}
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <img class="portrait" src="/img/Celes_Chere.png">
</div>
</footer>