{{!-- "title" reference back to app.js->res.render->
title attribite in the object --}}

<header>
    <h1>{{title}}</h1> {{!-- Dynamic title, from app.js --}}
{{!--     <h2>Static Header Title</h2>   --}}

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>